/* Color Pallete : #F0A500, #334756 #082032 #000000 #FFFFFF */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

h1 {
  font-size: 3.6rem;
}

/* NAVBAR */
#mainNav {
  display: flex;
  background-color: #082032;
  min-height: 10vh;
  margin: 0;
  padding: 2rem 12rem;
  text-align: center;
}

.nav-container {
  padding: 0;
}

.navbar-brand, .nav-link {
  color: #FFFFFF;
}

.navbar-nav {
  margin: auto 0 auto auto;
  justify-content: space-between;
}

.nav-link {
  font-size: 1.6rem;
  margin: 0 3.6rem;
}

/* HOME */
#home {
  background: #F0A500;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  min-height: 90vh;
  letter-spacing: 0.5rem;
}

.home-container {
  padding: 0 12rem;
  margin: auto;
}

.home-container p {
  margin: 0;
}

/* ABOUT */
/* #about {
  height: 90vh;
} */

/* Skills */
.progress {
  color: #000000;
}
