{% extends "base.html" %}

{% block title %}My Portfolio - Juan Gajardo{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- HOME SECTION-->
<section id="home" class="home-section">
  <div class="home-container container-fluid">
    <p>I'm many things... a <strong>rookie programmer.</strong></p>
  </div>
</section>

<!-- ABOUT SECTION-->
<section id="about" class="about-section">
  <div class="container-fluid">
    <h2>ABOUT</h2>
    <hr>
    <h1>LEARN MORE ABOUT ME</h1>
    <div class="content container">
      <!-- <img src="" alt=""> -->
      <h3>Lawyer & Full Stack Developer</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam.
      </p>
      <ul>
        <div class="row">
          <div class="col-md-6">
            <li><strong>Birthday:</strong><span> 1 June 1993</span></li>
            <li><strong>Website:</strong><span> www.thelab.com</span></li>
            <li><strong>Email:</strong><span> jegajardog@gmail.com</span></li>
            <li><strong>Freelance:</strong><span> Available</span></li>
          </div>
          <div class="col-md-6">
            <li><strong>Age:</strong><span> 28</span></li>
            <li><strong>Degree:</strong><span> self taught</span></li>
            <li><strong>Phone:</strong><span> +569 92736388</span></li>
            <li><strong>City:</strong><span> La Serena</span></li>
          </div>
        </div>
      </ul>

      <p>
        Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis. Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur
        qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
      </p>
    </div>
  </div>

  <!-- SKILLS SUB-SECTION -->
  <div class="skills container-fluid">
    <h2>SKILLS</h2>
    <hr>
    <div class="bars container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="progress my-4">
            <span>
              HTML
              <i class="val">100%</i>
            </span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress my-4">
            <span>
              CSS
              <i class="val">40%</i>
            </span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress my-4">
            <span>
              JavaScript
              <i class="val">20%</i>
            </span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="progress my-4">
            <span>
              Python
              <i class="val">75%</i>
            </span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress my-4">
            <span>
              Flask
              <i class="val">50%</i>
            </span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="progress my-4">
            <span>
              SQL
              <i class="val">75%</i>
            </span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- INTERESTS SUB-SECTION -->
  <div class="interests container-fluid">
    <h2>INTERESTS</h2>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 1</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 2</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 3</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 4</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 5</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 6</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 7</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box">
            <i>Icon</i>
            <h4>Interest 8</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- RESUME SECTION -->
<section id="resume" class="">
  <div class="container-fluid">
    <h2>RESUME</h2>
    <hr>
    <h1>CHECK OUT MY RESUME</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="summary">
            <h4>Summary</h4>
            <h3>JUAN GAJARDO</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            <ul>
              <li>jegajardog@gmail.com</li>
              <li>+569 92736388</li>
            </ul>
          </div>
          <div class="education">
            <h4>Education</h4>
            <div class="python">
              <h3>100 DAYS OF CODE: PYTHON PRO BOOTCAMP</h3>
              <div class="date">
                2021 - 2022
              </div>
              <div class="author">
                <em>Udemy, Angela Yu</em>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            </div>
            <div class="hacking">
              <h3>PRACTICAL ETHICAL HACKING FOR BEGGINERS</h3>
              <div class="date">
                2021
              </div>
              <div class="author">
                <em>Udemy, David Bombal & Kevin Wallace</em>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            </div>
            <div class="cs50">
              <h3>CS50x INTRODUCTION TO COMPUTER SIENCE</h3>
              <div class="date">
                2020 - 2021
              </div>
              <div class="author">
                <em>HarvardX, an online learning initiative of Harvard University</em>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            </div>
            <div class="law">
              <h3>BACHELOR OF LAWS</h3>
              <div class="date">
                2012 - 2016
              </div>
              <div class="author">
                <em>Universidad de Chile, Facultad de Derecho, Santiago</em>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            </div>
            <div class="school">
              <h3>SCHOOL</h3>
              <div class="date">
                1998 - 2011
              </div>
              <div class="author">
                <em>The International School, La Serena</em>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="experience">
            <h4>Experience</h4>
            <div class="gajardo-paiva">
              <h3>FOUNDER</h3>
              <div class="date">
                2019 - Present
              </div>
              <div class="author">
                <em>Gajardo & Paiva Associates</em>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elementum enim, quis sodales quam. Maecenas congue semper dolor, porttitor posuere metus efficitur et.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PORTFOLIO SECTION -->
<section id="portfolio" class="">
  <div class="container-fluid">
    <h2>PORTFOLIO</h2>
    <hr>
    <h1>MY WORKS</h1>
    <div class="container">
      <div class="row portfolio-container">
        <div class="col-lg-4 col-md-6 portfolio-item my-5">
          <img src="{{ url_for('static', filename='images/nate-grant-QQ9LainS6tI-unsplash.jpg') }}" alt="" width="300" height="240">
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item my-5">
          <img src="{{ url_for('static', filename='images/nate-grant-QQ9LainS6tI-unsplash.jpg') }}" alt="" width="300" height="240">
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item my-5">
          <img src="{{ url_for('static', filename='images/nate-grant-QQ9LainS6tI-unsplash.jpg') }}" alt="" width="300" height="240">
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item my-5">
          <img src="{{ url_for('static', filename='images/nate-grant-QQ9LainS6tI-unsplash.jpg') }}" alt="" width="300" height="240">
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item my-5">
          <img src="{{ url_for('static', filename='images/nate-grant-QQ9LainS6tI-unsplash.jpg') }}" alt="" width="300" height="240">
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item my-5">
          <img src="{{ url_for('static', filename='images/nate-grant-QQ9LainS6tI-unsplash.jpg') }}" alt="" width="300" height="240">
        </div>
      </div>
    </div>

<!-- CONTACT SECTION -->
<section id="contact" class="">
  <div class="container-fluid">
    <h2>CONTACT</h2>
    <hr>
    <h1>CONTACT ME</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <i class="fa-solid fa-envelope"></i>
          Email Me
          <br>
          jegajardog@gmail.com
        </div>
        <div class="col-md-6">
          <i class="fa-solid fa-share-nodes"></i>
          Social Projects
          <br>
          <div class="social-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
      </div>

      <!-- FORM SUB-SECTION -->
      <form class="row" action="index.html" method="post">
        <div class="col-md-6 my-3">
          <input type="text" class="form-control" id="InputName" name="" value="" placeholder="Your Name">
        </div>
        <div class="col-md-6 my-3">
          <input type="email" class="form-control" id="InputEmail" name="" value="" placeholder="Your Email">
        </div>
        <div class="col-md-12 my-3">
          <input type="text" class="form-control" id="InputSubject" name="" value="" placeholder="Subject">
        </div>
        <div class="col-md-12 my-3">
          <textarea class="form-control" id=InputTextArea name="content" rows="3" placeholder="Message"></textarea>
        </div>
        <div class="d-grid col-12" >
          <button type="submit" class="btn btn-outline-warning" name="button">Submit</button>
        </div>
      </form>
    </div>

  </div>
  </div>
</section>
{% endblock %}
